@media screen and (min-width: 500px) {
    body {
        font-family: 'Roboto', sans-serif;
    }

    header,
    main,
    footer {
        width: 640px;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: aquamarine;
    }

    header {
        background-color: black;
    }

    header h1 {
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    section {
        padding: 1rem;
        background-color: white;
    }
}