* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2,
footer {
    color: #D5F2E3;
    padding: 1rem;
}

header {
    background-color: #003E1F;
    padding: 1rem;
    color: #D5F2E3;
}

#mode {
    position: absolute;
    right: 2.5rem;
    top: 3.5rem;
    cursor: pointer;
    width: 25px;
    box-shadow: none;
    background-color: #D5F2E3;
    border-radius: 4px;
}

.darkMode {
    background: #1d1d1d;
    color: #fff;
}

.darkMode h1 {
    color: white;
}

.darkMode section {
    background-color: #3d3d3d;
}

.darkMode p,
.darkMode li,
.darkMode a {
    color: white;
}

.darkMode a:visited {
    color: #84f7ed;
}

main a:visited {
    color: blue;
}

#menu {
    display: block;
    font-size: 2rem;
    color: #D5F2E3;
    background: none;
    border: 0;
    text-decoration: none;
    padding: .5rem 2vw;
}

#menu::before {
    content: '≡';
}

nav {
    background-color: #01110A;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation a {
    color: #D5F2E3;
    padding: 1rem;
    display: block;
    transition: 0.5s;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.navigation .active {
    background-color: #BA2D0B;
}

.show li {
    display: block;
}

#menu.show::before {
    content: 'x';
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 2rem #fff;
    font-family: "Poetsen One", sans-serif;
    border-radius: 10px;
    font-size: 1.3rem;
}

.herolabel p {
    color: #000;
}

header,
main,
footer {
    border: 1px solid #000;
}

h1 {
    color: black;
    padding: 1.5rem;
}

section h2 {
    background-color: #003E1F;
    margin: 0;
}

section {
    border: 1px solid black;
    margin: 1rem 2vw;
    border-radius: 5px;
    overflow: hidden;
}

a {
    color: #01110A;
}

section p {
    padding: 1.5rem;
}

section li {
    padding: 1rem;
    list-style: none;
}

iframe {
    margin: 0 auto;
    padding: 1.5rem;
    width: 400px;
    height: 350px;
}

footer {
    text-align: center;
    background-color: #003E1F;

}